

<div class="fruit-content">

  <div class="menu">

    <div class="first-parent">

        <div class="first-content">

          <li class="first-content-child"><div class="first-vector"></div>Our products</li>

        </div>

    </div>


    <div class="second-parent">

      <div class="second-content">

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Pineapples</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Strawberri</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Apples</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Citrus</li>

        </div>

      </div>

    </div>

    <div class="third-parent">

      <div class="third-content">

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Cauliflowe</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Tomatoes</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Eggplants</li>

        </div>

        <div class="content-list">

          <li class="ligne-list"><div class="ligne"></div>Carotts</li>

        </div>

      </div>

    </div>


    <div class="social-media">

      <div class="social-media-parent">

        <div class="social-media-content">

          <p><img src="assets/twitter.png"></p>

        </div><div class="social-media-content">

          <p><img src="assets/youtube.png"></p>

        </div><div class="social-media-content">

          <p><img src="assets/instagram.png"></p>

        </div><div class="social-media-content">

          <p><img src="assets/facebook.png"></p>

        </div>

      </div>

    </div>

  </div>



  <div class="fruit-title-content">
    <h1 class="fruit-title"><span>Our fruits <br>& vegetables <br>are</span> organic.</h1>
  </div>

  <div class="fruit-lorem">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus <br>et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>

  <div class="disc-div">

    <button class="disc-btn">Discover<img src="../../assets/arrow-216-24.png"></button>

  </div>


  <div class="footer-fruit">


    <div class="page-number">
      <h1>1<span class="sp1">/</span><span class="sp2">2</span></h1>
    </div>


    <div class="button-router">

      <div class="vege-miniature"></div>

      <div class="vege-route">

          <div class="arrow-icon">

            &#9656;

          </div>

      </div>

    </div>

  </div>

</div>
