body
{
  top: -744px;
  left: -140px;
  width: 2557px;
  height: 1919px;
  background: transparent url('../../assets/pineapple-supply-co-prP9CYcRpzA-unsplash.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
