<div class="sidebar">

  <div>
    <img class="rabbit-logo" src="../assets/logoRabbit@2x.png">
  </div>


  <div>
    <img src="../assets/panier.png">
  </div>

  <div>
    <div class="vector-line">
    </div>
  </div>

  <div>
    <img class="pending-logo" src="../assets/hamburger.png">
  </div>

  <div>
    <div class="vector-line">

    </div>
  </div>

  <div>
    <img src="../assets/search.png">
  </div>

  <div>
    <h3 class="sidebar-org"><span>orga</span>bits</h3>
  </div>

</div>

<div class="content">
  <router-outlet></router-outlet>
</div>






